# ---- Polymarket Credentials --------------------

POLYMARKET_API_KEY=
POLYMARKET_API_SECRET=
POLYMARKET_PASSPHRASE=

POLYMARKET_PK=
POLYMARKET_FUNDER=


# ---- Database Credentials ---------------------

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
